.lights-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 56, 90);
  padding: 50px;
  border-radius: 30px;
}

.light-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  color: #fff;
}

.light-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.on {
  padding-right: 30px;
}

.off {
  padding-left: 9px;
}

.house-label {
  text-align: left;
  line-height: 10px;
  padding-bottom: 5px;
}

.light-device-container {
display: flex;
gap: 1rem;
flex-wrap: wrap;

}

.light-device {

  text-align: left;
  line-height: 2px;
  color: #525252;
  background-color: rgb(209, 209, 209);
  padding: 30px;
  border-radius: 20px;
  
}

.house-label h3 {
  color: #d4a13c;
}