.logo-app {
  background-color: rgb(34, 63, 94);
  background-repeat: no-repeat;
  width: 100%;
  height: 90px;
  padding-top: 20px;
  margin: 0;
}

.logo-app-bg {
  width: 70px;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;

}
