.lock-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 16rem;
  background-color: rgb(161, 214, 215);
  padding-top: 40px;
  padding-bottom: 50px;;
}

.home-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
}

.lock {
  padding-left: 15px;
  padding-right: 15px;
}