.temp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  object-fit:scale-down;
  background-color: rgb(232, 225, 213);
  gap: 2rem;
 padding: 40px;
  width: 11rem;
}

.temp-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-setting-container {
  display: flex;
  flex-direction: column;
}

.temp-settings {
  display: flex;
  flex-direction: row;
}
